.login-page-container,
.login-form-container {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.login-page-container h1 {
    text-align: center;
}

.login-form-container {
    background-color: red;
    max-width: 500px;
}